<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>HelloWorldServlet</servlet-name>
  	<servlet-class>net.oemig.webapp.HelloWorldServlet</servlet-class>
  	<load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Jersey REST Service</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>net.oemig.jersey.examples, net.oemig.scta.rest</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
  	<servlet-name>PasswordChecker</servlet-name>
  	<servlet-class>net.oemig.webapp.password.PasswordChecker</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Register</servlet-name>
  	<servlet-class>net.oemig.scta.servlet.Register</servlet-class>
  </servlet>
 <servlet-mapping>
  	<servlet-name>HelloWorldServlet</servlet-name>
  	<url-pattern>/HelloWorldServlet</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PasswordChecker</servlet-name>
  	<url-pattern>/PasswordChecker</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Register</servlet-name>
  	<url-pattern>/Register</url-pattern>
  </servlet-mapping>
</web-app>
